@import "tailwindcss";

.container2 {
  width: 90%;
  margin: 0 auto;
  padding: 20px 0;
}
.shadowBox{
  box-shadow: 5px 5px 15px 0 rgba(0, 0, 0, 0.1);

}
@media (min-width: 1440px) {
  .container2 {
    width: 1440px;
  }
}


.header{
  background: rgba(0, 0, 0, 0.92);
opacity: 0.8;
}
.txt{

line-height: 97%;
background: linear-gradient(203deg, #fff 0%, rgba(255, 255, 255, 0.42) 100%);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}
.swiper-pagination {
  bottom: 10px !important;
}

.swiper-pagination-bullet {
  width: 10px;
  height: 10px;
  background-color: white;
  opacity: 0.7;
}

.swiper-pagination-bullet-active {
  background-color: #ec8f32 !important;
    opacity: 1;
}
